div {
  user-select: none
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #ba7fc9
}

.container, .row {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-basis: 100%;
}

.select {
  border: none
  background: none
  color: #e2fbec;
  // color: #89F;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  text-transform: uppercase
  color: #fffa88
  // color: #fffd12
  font-size: 2rem
}

.label {
  text-transform: uppercase;
  display: block;
  margin: 0.5rem 0 0;
}

.component, .device {
  // border: 1px solid rgb(240, 70, 212)
  background: #7faec1
  // background: rgb(127, 174, 193)
  // background: #b2d3e0
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0.25rem;
  text-align: center;
  box-shadow: 0.25rem 0.2rem 0 #dff1ff
  // box-shadow: 0.25rem 0.2rem 0 #74bbf6
}

.value {
  font-size: 1.3rem;
  margin: 0.25rem 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.knobWrapper {
  padding: 0.3rem
}

.knob {
  cursor: pointer
  width: 3rem;
  height: 3rem;
  background: #fff
  border-radius: 3rem;
  border: 6px solid #ffffff;
  border-top: 6px solid #039696;
  margin: auto
}

.components {
  display: flex;
  justify-content: space-between;
}