div {
  user-select: none
  font-family: 'Josefin Sans', sans-serif;
}

.select {
  border: none
  background: none
  color: #89F;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  text-transform: uppercase
  color: #fffd12
  font-size: 2rem
}

.label {
  text-transform: uppercase
}

.component, .device {
  // border: 1px solid #f046d4
  background: #b2d3e0
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0.25rem;
  text-align: center;
}

.value {
  font-size: 1.3rem;
  margin: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.knobWrapper {
  padding: 0.3rem
}

.knob {
  cursor: pointer
  width: 3rem;
  height: 3rem;
  background: #fff
  border-radius: 3rem;
  border: 6px solid #ffffff;
  border-top: 6px solid #039696;
  margin: auto
}

.components {
  display: flex;
}